/* Global Settings */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: #F7F7F7;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Helper Classes */
.row::after {
    content: "";
    clear: both;
    display: block;
}

.left {
    float: left;
}
.right {
    float: right;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

/* Common Settings */
.container {
    width: 1330px;
    margin: 0 auto;
}

#topbar {
    background-color: #C6003D;
    color: #fff;
    padding: 8px 0px;
}
#topbar a{
    color: #fff;
}
#topbar p {
    font-size: 12px;
}
#topbar .col-2 ul li {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    margin: 0px 10px;
}

#header {
    background-color: #E40046;
    padding-top: 5px;
}
#header .logo {
    width: 15%;
    padding-top: 10px;
}
#header .search {
    width: 50%;
    padding-top: 10px;
}
#header .search input[type="text"] {
    width: 83%;
    height: 35px;
}
#header .search button {
    height: 38px;
    width: 15%;
    margin-left: -5px;
}

#header .user-actions {
    width: 20%;
}
#header .user-actions ul li {
    display: inline-block;
}
#header .user-actions ul li a {
    color: #fff;
    display: block;
    padding: 20px 28px;
}

#header .user-actions .dropdown-container a:hover {
    background-color: #333333;
}
#header .user-actions i {
    font-size: 20px;
}
#header .user-actions .dropdown-container i {
    margin-left: 6px;
}

#content {
    margin-top: 20px;
}

#main-navigation {
    width: 15%;
    padding: 20px 0px 10px 8px;
    background-color: #fff;
}

#main-navigation .widget {
    margin-bottom: 15px;
}

#main-navigation h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 10px;
}

#main-navigation ul li a {
    color: #666;
    display: block;
    padding: 10px 0px 10px 8px;
    /* width: 100%; */
    cursor: default;
    font-size: 12px;
}
#main-navigation ul li a:hover {
    color: #000;
    background-color: #FAFAFA;
    border-left: 2px solid red;
}

#banner {
    
}
#banner .banner-img {
    width: 80%;
}
#banner .location {
    width: 15%;
}

#main {
    width: 80%;
    margin-left: 2.5%;
}

.products .product {
    display: inline-block;
    width: 19%;
    color: #000;
    font-size: 12px;
}
.products .product a {
    color: #000;
    font-size: 12px;
}

#sidebar {

}

#footer {

}

